.search-bar {
    margin: 40px;
    text-align: center;
}

.search-bar input {
    width: 85%;
}

.video-item img {
    max-width: 84px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.header {
    grid-area: head;
    background-color: #F9F5F3;
    display: flex;
    align-items: center;
    justify-content: space-between; }
.header__logo {
    margin-left: 4rem;
    height: 4.5rem;
    display: block; }